<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />


<div>
  <div class="header">
    <h1>Fingress Digital Solution</h1>

  </div>
  <div class="sidebar">
    <ul>
      <li>
        <button type="button" (click)="navigateTo('/landingpage/dashboard')">
          <mat-icon>dashboard</mat-icon> Dashboard
        </button>
      </li>
      <li>
        <button type="button" (click)="navigateTo('/landingpage/onboarduser')">
          <mat-icon>create user</mat-icon> Create User
        </button>
      </li>
      <li>
        <button type="button" (click)="navigateTo('/landingpage/customerlist')">
          <mat-icon>list</mat-icon> Customer List
        </button>
      </li>
      <li>
        <button type="button" (click)="navigateTo('/landingpage/listuser')">
          <mat-icon>list</mat-icon> User List
        </button>
      </li>

      <li>
        <button type="button" (click)="navigateTo('/landingpage/csspractice')">
         <mat-icon>code</mat-icon>css practice
        </button>
      </li>
      <li>
        <button type="button" (click)="navigateTo('/landingpage/practice')">
          <mat-icon>code</mat-icon>practice
        </button>
      </li>
      <li>
        <button type="button" (click)="navigateTo('/landingpage/pdf')">
          <mat-icon>picture_as_pdf</mat-icon>Pdf
        </button>
      </li>
      <li>
        <button type="button" (click)="navigateTo('/landingpage/stepperform')">
         <mat-icon>navigate_next</mat-icon>stepperform
        </button>
      </li>
      <li>
        <button type="button" (click)="signout()">
           <mat-icon>logout</mat-icon> Sign Out
        </button>
      </li>
    </ul>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>