 .mat-column-emailaddress {
    width: 30px;
    border-bottom: 1px solid;
    text-align: center;
  }

 .mat-column-Partycode {
    width: 30px;
    border-bottom: 1px solid;
    text-align: center;
  }
 .mat-column-action{
    width: 30px;
    border-bottom: 1px solid;
    text-align: center;
  }
 .mat-column-PartyName{
    width: 30px;
    border-bottom: 1px solid;
    text-align: center;
  }
 .mat-column-Mobilenumber{
    width: 30px;
    border-bottom: 1px solid;
    text-align: center;
  }
  .edit{
    padding: 3px;
    border-radius: 5px;
  }
  .delete{
    padding: 3px;
    border-radius: 5px;
    margin-left: 10px;
  }
.header-style {
  background-color:  #d1d8e0; 
  color: white; 
  font-weight: bold; 
}