<div class="container">
    <h1>Party & user Registration</h1>
    <form #onboardingForm="ngForm" (ngSubmit)="onSubmit(onboardingForm)">
        <div class="form-div1">
            <h2>Party Information</h2>
            <div class="party-div">
                <div>
                    <label for="partyName">Party Name</label>
                    <input type="text" id="partyName" name="partyName" [(ngModel)]="partyName" required />
                </div>
                <div>
                    <label for="partycode">Party Code</label>
                    <input type="text" id="partycode" name="partycode" [(ngModel)]="partyCode" required />
                </div>
                <div>
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" [(ngModel)]="email" required />
                </div>
                <div>
                    <label for="phone">Phone</label>
                    <input type="text" id="phone" name="phone" [(ngModel)]="phone" required />
                </div>
            </div>
        </div>
        <div class="form-div2">
            <h2>User Information</h2>
            <div class="user-div">

                <div>
                    <label for="userid">User ID</label>
                    <input type="text" id="userid" name="userid" [(ngModel)]="userid" required />
                </div>
                <div>
                    <label for="firstname">First Name</label>
                    <input type="text" id="firstname" name="firstname" [(ngModel)]="firstname" required />
                </div>
                <div>
                    <label for="lastname">Last Name</label>
                    <input type="text" id="lastname" name="lastname" [(ngModel)]="lastname" required />
                </div>
                <div>
                    <label for="useremail">User Email</label>
                    <input type="email" id="useremail" name="useremail" [(ngModel)]="useremail" required />
                </div>
                <div>
                    <label for="userphone">User Phone</label>
                    <input type="text" id="userphone" name="userphone" [(ngModel)]="userphone" required />
                </div>
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
        </div>
    </form>
</div>