<div class="wholediv">
  <div class="imgdiv">
    <img src="assets/loginpage.png" style="height: 300px;width: 300px;border-radius: 5px;">
  </div>
  <div class="formdiv">
    <form #signInForm="ngForm" (ngSubmit)="onSubmit(signInForm)">
      <input
        type="text"
        placeholder="orginCode"
        name="orgCode"
        [(ngModel)]="orgCode"
        required
      /><br>
      <input
        type="text"
        placeholder="loginId"
        name="loginId"
        [(ngModel)]="loginId"
        required
      /><br>
      <input
        type="password"
        placeholder="password"
        name="password"
        [(ngModel)]="password"
        required
      /><br>
      <button type="submit" class="btn" [disabled]="!signInForm.valid">Login</button>
    </form>
    <p>Don't have an account? <a routerLink="/register">Register</a></p>
  </div>
</div>

