<h2 mat-dialog-title>Do you want to change the status of this customer?</h2>
<mat-dialog-content>
  <p>Party name : {{data.partyname}}</p>
  <p>Party Code : {{data.partycode}}</p>
  <mat-form-field class="form">
      <mat-label> Reason </mat-label>
      <input matInput [(ngModel)]="reason" />
        <div *ngIf="reasonTouched && !reason " style="color: red; font-size: 13px;margin-left:25px; "> Reason is required*</div>
    </mat-form-field>
</mat-dialog-content>
  
  
<mat-dialog-actions  align="end">
  <button *ngIf="data.status === 'IN_ACTIVE'" mat-button (click)="active()">Active</button>
  <button  *ngIf="data.status=== 'ACTIVE'" mat-button  (click)="inactive()">Deactive</button>
 <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>