.act-btn{
    margin-left: 170px;
    padding: 10px;
    background-color: #ca1c1c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;

}
.inact-btn{
    margin-left: 170px;
    padding: 10px;
    background-color: #ca1c1c;
    color: white;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.back-btn{
    margin-left: 10px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.form{
margin-left:25px;
    
}