<table mat-table [dataSource]="usersList" class="mat-elevation-z8">
 
  <ng-container matColumnDef="Name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let user"> {{ user.firstName }} {{ user.lastName }} </td>
  </ng-container>


  <ng-container matColumnDef="UserId">
    <th mat-header-cell *matHeaderCellDef> UserId </th>
    <td mat-cell *matCellDef="let user"> {{ user.UUID }} </td>
  </ng-container>


  <ng-container matColumnDef="Partycode">
    <th mat-header-cell *matHeaderCellDef> Partycode </th>
    <td mat-cell *matCellDef="let user"> {{ user.PARTY_CODE }} </td>
  </ng-container>

  <ng-container matColumnDef="Status">
    <th mat-header-cell *matHeaderCellDef> Status</th>
    <td mat-cell *matCellDef="let user"> {{ user.ACTIVE_CODE}} </td>
  </ng-container>


  <ng-container matColumnDef="PartyName">
    <th mat-header-cell *matHeaderCellDef> PartyName </th>
    <td mat-cell *matCellDef="let user"> {{ user.PARTY_NAME}} </td>
  </ng-container>

  <ng-container matColumnDef="updatedOn">
    <th mat-header-cell *matHeaderCellDef> updatedOn </th>
    <td mat-cell *matCellDef="let user"> {{ user.LAST_UPDATED_ON}} </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>