table {
    width: 100%;
  }
 
 
  .mat-column-Username {
    width: 30px;
    
    border-bottom: 1px solid;
    text-align: center;
  }

  .mat-column-UserId{
    width: 30px;
   
    border-bottom: 1px solid;
    text-align: center;
  }
  .mat-column-email{
    width: 30px;
 
    border-bottom: 1px solid;
    text-align: center;
  }
  .mat-column-mobilenumber{
    width: 30px;
  
    border-bottom: 1px solid;
    text-align: center;
  }
  .mat-column-ActiveSession{
    width: 30px;
    
    border-bottom: 1px solid;
    text-align: center;
  }
  .mat-column-action{
    width: 30px;
  
    border-bottom: 1px solid;
    text-align: center;
  }
  .edit{
    padding: 3px;
    border-radius: 5px;
  }
  .delete{
    padding: 3px;
    border-radius: 5px;
    margin-left: 10px;
  }
.header-style {
  background-color:  #d1d8e0; 
  color: white; 
  font-weight: bold; 
}