
.header-style {
  background-color:  #d1d8e0; 
  color: white; 
  font-weight: bold; 
}
.mat-table {
  border: 1px solid #bdbdbd;
  margin-left: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  background-color: #ffffff;
  font-size: 16px;
}

.mat-column-Username,
.mat-column-UserId,
.mat-column-email,
.mat-column-mobilenumber,
.mat-column-ActiveSession,
.mat-column-emailaddress,
.mat-column-edit,
.mat-column-delete {
  width: 120px; 
  text-align: left;
  border:#bdbdbd 1px solid;
}