<div>
    <div class="navbar">
        <ul>
            <li> <img src="assets/images.png" alt="logo"></li>
            <li class="dropdown">What we do
                <p class="dropdown-menu">
                    <a>AI enablement</a>
                    <a>App modernization</a>
                    <a>Data transformation</a>
                    <a>Data integration</a>
                    <a>Maitenance support</a>
                    <a>Process automation</a>
                </p>
            </li>
            <li class="dropdown">Who we are
                <p class="dropdown-menu">
                    <a>Our values</a>
                    <a>Contact us</a>
                    <a>About us</a>
                    <a>Maintenance support</a>
                    <a>Process automation</a>
                </p>
            </li>
            <li class="dropdown">Solutions
                <p class="dropdown-menu">
                    <a>Digital Onboarding</a>
                    <a>Customer experience</a>
                    <a>Portal</a>
                    <a>Fintech integration</a>
                </p>
            </li>
            <li class="dropdown">Industries
                <p class="dropdown-menu">
                    <a>Banking</a>
                    <a>Financial</a>
                    <a>Digital Commerce</a>
                    <a>Insurance</a>
                </p>
            </li>
            <li class="dropdown">Insights
                <p class="dropdown-menu">
                    <a>Case study</a>
                    <a>News</a>
                    <a>Awards</a>
                    <a>Blog</a>
                </p>
            </li>
            <li class="dropdown">Partners
                <p class="dropdown-menu">
                    <a>Partner program</a>
                    <a>Collaborate with us</a>
                </p>
            </li>
            <li class="dropdown">Join us
                <p class="dropdown-menu">
                    <a>Life at bluescope</a>
                    <a>Job openings</a>
                    <a>Internship</a>
                </p>
            </li>
        </ul>
    </div>
    <div class="wholediv">
        <div class="titlediv">
            <p>Transform your business with our</p>
            <p style="color: blueviolet;">Digital Transformation</p>
            <p>solutions</p>
        </div>
        <pre appCustomdirective class="pretag">
            Bluescope helps businesses in modernizing your digital infrastructure,automate process 
               and regulation compliant. Our innovative products, services blended with industry
                                     expertise teams ensures guaranteed results
        </pre>
        <button class="btn">Connect with us</button>
        <button class="btn-2">Learn more</button>
        <div class="imgdiv">
            <img src="assets/img.png" alt="logo" style="height:500px;width:90%;">
        </div>
        <div style="background-color: rgb(129, 206, 230)">
            <p style=" padding: 10px;margin-left: 320px;"> <b>Our Principles:</b> Best Practices, Innovative Solutions
                and
                Assured Key Results</p>
        </div>
        <div class="ptag2">
            <p style="color: blue;font-size: medium;font-weight: bold;"> Our Values</p>
            <p style="color: black;font-size:30px;;font-weight: bold;">What you get with us</p>
            <p
                style="color: rgb(189, 184, 184);font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size: 25px;margin-top: 15px;">
                Most professional and comprehensive support we can offer to our clients.
            </p>
        </div>
        <div class="wholecontentdiv">
            <div class="contentdiv">
                <h2>Accelerate your digital transformation</h2>
                <p>
                    Our flagship digital transformation product and solutions helps in achieving key results in a
                    shorter
                    span of time and efforts</p>
                <h2>Best Practices</h2>
                <p>
                    Creating secure, efficient, and user-friendly websites that deliver exceptional experiences and
                    lasting
                    value.
                </p>
                <h2>Industries</h2>
                <p>
                    We serve across many industries and primarily banking & financial services, health care and digital
                    commerce</p>
            </div>
            <div class="contentdiv2">
                <h2>Multi experience digital solutions</h2>
                <p>
                    Our customer experience solutions offer you to have your digital presence in Web, Mobile and API as
                    service</p>
                <h2>Automate your process</h2>
                <p>
                    Our process automation solutions powered by industry agnostic process engines to automate your
                    processes
                    and provide valuable data insights</p>
                <h2> Go-to market with your new ideas</h2>
                <p>
                    Embracing a culture that is open to new ideas and contributions is integral for fostering
                    innovation,
                    collaboration and dynamic user experience.</p>

            </div>
        </div>
    </div>